header.bg-banner {
    background-color: unset;
    background: black url(../images/banner-initial.png) center top/cover no-repeat fixed;
}

.btn-redirect {
    background-color: #E50914;
    padding: 20px 35px;
    color: white;
}

.btn-redirect:hover {
    background-color: #B6060F;
}